#top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bottom{
    /* align-self: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img{
    height: 87px;
    width: 87px;
    align-items: center;
}

#logo {
    width: 200px;
    height: 200px;

}

h1 {
    font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:300;
}

#info {
    font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#info ul {
    float: right;
}

.caption{
    display: block;
}


div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}

span{
    font-weight: bold;
}
