#top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bottom{
    /* align-self: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img{
    height: 87px;
    width: 87px;
    align-items: center;
}

#logo img {
    height: 168px;
    width: 168px;

}

h1 {
    font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:300;
}

#info {
    font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#info ul {
    float: right;
}


